@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --success: green;
    --error: red;
    --warning: yellow;

    --success-light: rgba(0, 128, 0, 0.4);
    --warning-light: rgba(255, 255, 0, 0.4);
    --error-light: rgba(255, 0, 0, 0.4);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f1;
}

.control button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    margin: 0 10px;
}

.success {
    background: var(--success);
}

.warning {
    background: var(--warning);
}

.error {
    background: var(--error);
}

#toasts {
    position: fixed;
    top: 10px;
    right: 10px;
}

.toast {
    padding: 20px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 26px;
    border-left: 6px solid var(--success);
    overflow: hidden;
    animation: slide_show 2s ease forwards;
    margin-bottom: 10px;
}

.toast i {
    margin: 0 10px;
}

.toast .countdown {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    animation: countdown 3s ease forwards;
}

.toast.success {
    border-left: 6px solid var(--success);
    background: var(--success-light);
}

.toast.warning {
    border-left: 6px solid var(--warning);
    background: var(--warning-light);
}

.toast.error {
    border-left: 6px solid var(--error);
    background: var(--error-light);
}

.toast.success .countdown {
    background: var(--success);
}

.toast.warning .countdown {
    background: var(--warning);
}

.toast.error .countdown {
    background: var(--error);
}

@keyframes countdown {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes slide_show {
    0% {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(-10%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes slide_hide {
    0% {
        transform: translateX(-10%);
    }
    25% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(200%);
    }
}