* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="phone"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.form-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-buttons button:hover {
    background-color: #ccc;
}

h2 {
    color: #81b368;
}

#submitBtn {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

#clearBtn {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}